.perguntas-container {
    padding-top:120px ;
    padding-bottom: 120px;
}
.perguntas-container h2 {
  margin-bottom: 60px;
}
.perguntas-container dl > div {
    padding:20px ;
    border-radius: 4px;
}

.perguntas-container button {
 display: grid;
 grid-template-columns:  1fr auto  ;
 align-items: center;
 gap:8px;
 cursor:pointer;
 border: none;
 background: none;
 width: 100%;
 text-align: start;

}

.perguntas-container dl  > div:nth-child(odd) {
background:var(--cor-5);
}
.perguntas-container dt::before{
  content: "";
  display: inline-block;
  width:12px;
  height: 8px;
  background-color: var(--cor-p1);
}
.perguntas-container button::after , .perguntas-container button[aria-expanded="true"]::after {
  content: "";
  display: inline-block;
  width:14px;
  height: 6px;
  background: url("../img/icones/seta-abrir.svg");
  transition:0.3s;
  
}
.perguntas-container button:hover:after {
 transform: rotate(180deg);
}

.perguntas-container dd{
  padding-left: 12px;
  padding-top: 16px;
  max-width: 80ch;
  

}
.perguntas-container dd {
  display: none;
}
.perguntas-container dd.ativa {
  display: block;
}


@media (max-width:800px) {
  .perguntas-container {
    padding-top:60px;
    padding-bottom:60px;
  }
  .perguntas-container h3 {
    margin: bottom 40px;
  }
}