.vantagens-bg {
    background-color:black;
    padding-top:120px;
    padding-bottom:120px;
}
.vantagens-bg h2 {
    margin-bottom:60px;

}
.vantagens-bg ul{
     display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px ,max-content));
    gap:40px 80px ;

}

.vantagens-bg h3,
.vantagens-bg img {
    margin-bottom: 8px;
}
@media (max-width:800px){
      .vantagens-bg {
        padding-top:60px;
        padding-bottom:60px;
      }
      .vantagens-bg h2 {
          margin-bottom: 30px;
      }
      .vantagens-bg ul {
          gap:20px;
      }
}